.owl-carousel .animated{-webkit-animation-duration:1000ms;animation-duration:1000ms;-webkit-animation-fill-mode:both;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut}@-webkit-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{-webkit-transition:height 500ms ease-in-out;-moz-transition:height 500ms ease-in-out;-ms-transition:height 500ms ease-in-out;-o-transition:height 500ms ease-in-out;transition:height 500ms ease-in-out}.owl-carousel{display:none;width:100%;-webkit-tap-highlight-color:transparent;position:relative;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0px,0,0)}.owl-carousel .owl-controls .owl-dot,.owl-carousel .owl-controls .owl-nav .owl-next,.owl-carousel .owl-controls .owl-nav .owl-prev{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-loaded{display:block}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel .owl-refresh .owl-item{display:none}.owl-carousel .owl-item{position:relative;min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel .owl-item img{display:block;width:100%;-webkit-transform-style:preserve-3d}.owl-carousel.owl-text-select-on .owl-item{-webkit-user-select:auto;-moz-user-select:auto;-ms-user-select:auto;user-select:auto}.owl-carousel .owl-grab{cursor:move;cursor:-webkit-grab;cursor:-o-grab;cursor:-ms-grab;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.no-js .owl-carousel{display:block}.owl-carousel .owl-item .owl-lazy{opacity:0;-webkit-transition:opacity 400ms ease;-moz-transition:opacity 400ms ease;-ms-transition:opacity 400ms ease;-o-transition:opacity 400ms ease;transition:opacity 400ms ease}.owl-carousel .owl-item img{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;/*background:#000*/}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;-webkit-transition:scale 100ms ease;-moz-transition:scale 100ms ease;-ms-transition:scale 100ms ease;-o-transition:scale 100ms ease;transition:scale 100ms ease}.owl-carousel .owl-video-play-icon:hover{-webkit-transition:scale(1.3,1.3);-moz-transition:scale(1.3,1.3);-ms-transition:scale(1.3,1.3);-o-transition:scale(1.3,1.3);transition:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;-webkit-background-size:contain;-moz-background-size:contain;-o-background-size:contain;background-size:contain;-webkit-transition:opacity 400ms ease;-moz-transition:opacity 400ms ease;-ms-transition:opacity 400ms ease;-o-transition:opacity 400ms ease;transition:opacity 400ms ease}.owl-carousel .owl-video-frame{position:relative;z-index:1}
.owl-theme .owl-controls{text-align:center;-webkit-tap-highlight-color:transparent}.owl-theme .owl-controls .owl-nav [class*=owl-]{color:#fff;font-size:14px;margin:5px;padding:4px 7px;background:#d6d6d6;display:inline-block;cursor:pointer;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}.owl-theme .owl-controls .owl-nav [class*=owl-]:hover{background:#869791;color:#fff;text-decoration:none}.owl-theme .owl-controls .owl-nav .disabled{opacity:.5;cursor:default}.owl-theme .owl-dots .owl-dot{display:inline-block;zoom:1;*display:inline}.owl-theme .owl-dots .owl-dot span{width:10px;height:10px;margin:5px 7px;background:#d6d6d6;display:block;-webkit-backface-visibility:visible;-webkit-transition:opacity 200ms ease;-moz-transition:opacity 200ms ease;-ms-transition:opacity 200ms ease;-o-transition:opacity 200ms ease;transition:opacity 200ms ease;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px}.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{background:#869791}
/*ModDopProd*/
.dop_products {
    position: relative;
}
.modopprod_item {
    position: relative;
}
.dop_products.default .modopprod_item {
    margin: 0px;
    border: 1px solid #eeeeee;
}
.dop_products.default .tab-content .modopprod_item_image {
    position: relative;
}
.dop_products .product_label {
    z-index: 1;
}
.dop_products .tab-content {
    margin-top: 7px;
}
/*SVG*/

.dop_products .blur-wrapper {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    overflow: hidden;
}
.dop_products svg.blur-img {
    padding: 0;
    width: 100%;
    height: 100%;
}
.brooksusCarousel .item .modopprod_item_image {
    text-align: center;
}
.brooksusCarousel {
    border: 1px solid #cccccc;
    background-color: #ffffff;
}
.brooksusCarousel .item .modopprod_item_sd {
    display: none;
    margin: 7px 0;
}
.brooksusCarousel .carousel-caption {
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
}
.brooksusCarousel .carousel {
    margin-bottom: 0;
}
.carousel-control span.navleft-bs {
    color: #ffffff;
    margin-left: -15px;
    margin-top: -20px;
}
span.navleft-bs:before {
    content: '\2039';
}
.carousel-control span.navright-bs {
    color: #ffffff;
    margin-right: -18px;
    top: 15px;
}
span.navright-bs:before {
    content: '\203A';
}
.dop_products.default .modopprod_item_sd.show-hovered {
    display: none;
    font-size: 14px;
    padding: 0 15px;
}
.owl-dp-carousel {
    padding: 0px;
}
.owlcarousel-caption {
    position: relative;
    text-align: center;
    background: #ffffff;
    color: #646464;
    overflow: hidden;
}
.owl-dp-carousel.owl-theme .owl-controls .owl-nav [class*=owl-] {
    background: transparent;
    color: #999999;
}
.owl-dp-carousel .owl-prev,
.owl-dp-carousel .owl-next {
    position: absolute;
    background: transparent;
    font-weight: bold;
    top: 50%;
    opacity: 0.65;
    border: none;
}
.topnav .owl-dp-carousel .owl-prev,
.topnav .owl-dp-carousel .owl-next {
    top: -25px;
    text-align: right;
}
.topnav .owl-dp-carousel .owl-prev {
    left: inherit;
    right: 65px;
}
.topnav .owl-dp-carousel .owl-prev .fa-4x,
.topnav .owl-dp-carousel .owl-next .fa-4x {
    font-size: 2.3em;
}
.owl-dp-carousel.owl-theme .owl-controls .owl-nav [class*=owl-] {
    margin: -20px 0px 0 0px;
}
.button-size-2 .owl-next i:not(.fa),
.button-size-2 .owl-prev i:not(.fa) {
    font-size: 2em;
}
.button-size-4 .owl-next i:not(.fa),
.button-size-4 .owl-prev i:not(.fa) {
    font-size: 4em;
}
.button-size-6 .owl-next i:not(.fa),
.button-size-6 .owl-prev i:not(.fa) {
    font-size: 6em;
}
.owl-dp-carousel .owl-prev {
    left: 15px;
    border-left: none;
}
.owl-dp-carousel .owl-next {
    right: 15px;
    border-right: none;
}
.owl-dp-carousel .owl-prev:hover,
.owl-dp-carousel .owl-next:hover,
.owl-dp-carousel.owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
    background: transparent;
    opacity: 1;
    cursor: pointer;
    color: #999999;
}
.dop_products .popover-content {
    color: #232323;
}
.modopprod_item_name {
    margin-top: 10px;
}
.modopprod_item_name a {
    font-weight: bold;
}
.owlcarousel-caption a {} .owlcarousel-caption .modopprod_item_price {
    margin-top: 15px;
    padding-bottom: 15px;
}
.modopprod_item_price {
    font-size: 18px;
    font-weight: 400;
    color: initial;
}
.owlcarousel-caption .modopprod_item_buylink a {
    margin-top: 10px;
    color: #ffffff;
}
.whiteitem .modopprod_item {
    background: #ffffff;
    padding: 5px;
}
.whiteitem .modopprod_item_name {
    min-height: 50px;
}
.whiteitem .owlcarousel-caption a {
    color: #646464;
}
.whiteitem .owlcarousel-caption .modopprod_item_buylink a {
    color: #646464;
    margin-top: 0;
}
.whiteitem .owlcarousel-caption .modopprod_item_price {
    border-bottom: none;
}
.vertical.owlcarousel {
    border-top: 1px dashed #646464;
    padding-top: 7px;
}
.vertical .modopprod_item_image {
    margin-right: 10px;
    margin-bottom: 10px;
}
.vertical .modopprod_item_image img {
    max-width: 80px;
}
.vertical .owlcarousel-caption {
    background: none;
    color: #646464;
    text-align: left;
    padding: 0;
    margin-bottom: 30px;
    display: inline;
}
.vertical .modopprod_item_name {
    margin-top: 0;
}
.vertical .rating {
    display: inline-block;
    margin-top: 7px;
}
.vertical .owlcarousel-caption .modopprod_item_price {
    margin: 0;
    padding: 0;
    border: 0;
}
.vertical .owlcarousel-caption .modopprod_item_buylink a {
    margin: 0 7px 0 0;
    padding: 0;
    color: #646464;
}
.owlcarousel.custom_image .owlcarousel-caption {
    background: none;
    padding: 0;
}
.pos_middle {
    position: absolute;
    line-height: normal;
    left: 0;
    right: 0;
    z-index: 5;
    color: #ffffff;
}
.top-left .pos_middle {
    text-align: left;
    top: 15px;
}
.top-center .pos_middle {
    text-align: center;
    top: 15px;
}
.top-right .pos_middle {
    text-align: right;
    top: 15px;
}
.center-left .pos_middle {
    text-align: left;
    top: 30%;
}
.center .pos_middle {
    text-align: center;
    top: 30%;
}
.center-right .pos_middle {
    text-align: right;
    top: 30%;
}
.bottom-left .pos_middle {
    text-align: left;
    top: auto;
    bottom: 15px;
}
.bottom-center .pos_middle {
    text-align: center;
    top: auto;
    bottom: 15px;
}
.bottom-right .pos_middle {
    text-align: right;
    top: auto;
    bottom: 15px;
}
.black .pos_middle_header h3,
.black .pos_middle_text {
    background: rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 7px #232323;
    -webkit-box-shadow: 0 0 7px #232323;
    box-shadow: 0 0 7px #232323;
}
.red .pos_middle_header h3,
.red .pos_middle_text {
    background: rgba(241, 11, 11, 0.75);
    -moz-box-shadow: 0 0 7px #232323;
    -webkit-box-shadow: 0 0 7px #232323;
    box-shadow: 0 0 7px #232323;
}
.orange .pos_middle_header h3,
.orange .pos_middle_text {
    background: rgba(253, 96, 4, 0.75);
    -moz-box-shadow: 0 0 7px #232323;
    -webkit-box-shadow: 0 0 7px #232323;
    box-shadow: 0 0 7px #232323;
}
.violet .pos_middle_header h3,
.violet .pos_middle_text {
    background: rgba(253, 4, 162, 0.75);
    -moz-box-shadow: 0 0 7px #232323;
    -webkit-box-shadow: 0 0 7px #232323;
    box-shadow: 0 0 7px #232323;
}
.blue .pos_middle_header h3,
.blue .pos_middle_text {
    background: rgba(123, 4, 253, 0.75);
    -moz-box-shadow: 0 0 7px #232323;
    -webkit-box-shadow: 0 0 7px #232323;
    box-shadow: 0 0 7px #232323;
}
.green .pos_middle_header h3,
.green .pos_middle_text {
    background: rgba(114, 255, 43, 0.75);
    -moz-box-shadow: 0 0 7px #232323;
    -webkit-box-shadow: 0 0 7px #232323;
    box-shadow: 0 0 7px #232323;
}
.pos_middle_header h3,
.pos_middle_text {
    display: inline-block;
    line-height: normal;
    padding: 10px 20px;
    margin-top: 0;
    -moz-text-shadow: 1px 1px 1px #000000;
    -webkit-text-shadow: 1px 1px 1px #000000;
    text-shadow: 1px 1px 1px #000000;
}
.pos_middle_header h3 {
    font-size: 42px;
}
.pos_middle_text {
    font-size: 20px;
}
.pos_middle_text a {
    color: #ffffff;
}
.big-font .pos_middle_header h3 {
    font-size: 62px;
}
.big-font .pos_middle_text {
    font-size: 30px;
}
.very-big-font .pos_middle_header h3 {
    font-size: 82px;
}
.very-big-font .pos_middle_text {
    font-size: 40px;
}
.extrem-big-font .pos_middle_header h3 {
    font-size: 98px;
}
.extrem-big-font .pos_middle_text {
    font-size: 50px;
}
.modopprod_item_buylink .btn {
    display: inline-block;
}
.carousel-control span {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -15px;
    width: 30px;
    height: 30px;
}
.left.carousel-control span {
    left: 50%;
}
.right.carousel-control span {
    right: 50%;
}
.grid-tile1 {
    background: url('../images/gridtile.png');
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 4
}
.grid-tile2 {
    background: url('../images/gridtile_3x3.png');
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 4
}
.grid-tile3 {
    background: url('../images/gridtile_white.png');
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 4
}
.grid-tile4 {
    background: url('../images/gridtile_3x3_white.png');
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 4
}
/*CHILD CATEGORIES*/

.hidden-childcat .child-category .modopprod_item_image {
    display: none;
}
.hidden-childcat .child-categories {
    position: absolute;
    height: 0;
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    padding-bottom: 7px;
    background-color: rgba(0, 0, 0, 0.85);
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.modopprod_item.parent-category:hover {} .modopprod_item.parent-category:hover .child-categories {
    display: inline-block;
    height: auto;
    opacity: 1;
}
.hidden-childcat .child-categories .modopprod_item_name {
    text-align: left;
    margin-left: 20px;
}
.hidden-childcat .child-categories .modopprod_item_name.level_3 {
    margin-left: 30px;
}
.mosaic-block.formain .modopprod_item_image img {
    width: 100%;
}
.mosaic-block .modopprod_item {
    padding: 0 !important
}
.mosaic-block .modopprod_item_name,
.mosaic-block .modopprod_item_sd,
.mosaic-block .modopprod_item_price {
    padding: 5px 20px;
}
.mosaic-block .modopprod_item_buylink,
.default .modopprod_item_buylink {
    padding: 10px 15px 15px 15px;
    text-transform: uppercase;
}
.mosaic-block .child-category a {
    color: #ffffff !important;
    font-size: 14px;
    font-weight: 300;
}
.mosaic-block.formain .singlecat {
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
}
.fleft .modopprod_item_buylink {
    text-transform: uppercase;
}
.category_menu.fleft {
    background-color: transparent;
}
.category_menu.fleft .modopprod_item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
.category_menu.fleft .modopprod_item a {
    font-weight: 400;
}
.category_menu.fleft .modopprod_item .level_1 a {
    font-size: 12px;
    text-decoration: underline;
    color: #999999;
}
.category_menu.fleft .modopprod_item .level_1 a:hover {
    color: inherit;
}
.category_menu.fleft .modopprod_item .level_2 {
    margin-left: 10px;
}
.dop_products a.btn.list-btn.compare_link_to_list,
.dop_products a.btn.list-btn.go_to_compre_list,
.dop_products a.btn.list-btn.remove_compare_list,
.dop_products a.product-button-wishlist.btn.list-btn {
    position: relative !important;
    top: 0;
    right: 0;
    display: inline-block;
    background: none;
    vertical-align: middle;
}
.dop_products a.btn.list-btn.remove_compare_list {
    padding: 0;
    margin: 0;
}
.dop_products.default a.btn.list-btn.remove_compare_list {
    margin: 5px 0 0 0;
}
.dop_products.mosaic-block a.btn.list-btn.remove_compare_list,
.dop_products.fleft a.btn.list-btn.remove_compare_list,
.dop_products.whiteitem a.btn.list-btn.remove_compare_list {
    margin-top: -5px;
}
.modopprod_item_buylink.wllink,
.modopprod_item_buylink.comparelink,
.modopprod_item_buylink.display-inline {
    display: inline-block;
}
.cleared {
    clear: both;
}
.dnone {
    display: none;
}
.load-hidden {
    display: none;
}
.modopprod_item .attrib span,
.modopprod_item div.jshop_prod_attributes,
.modopprod_item .attrib input {
    display: inline-block;
    vertical-align: middle;
}
.modopprod_item .attrib .attributes_title span {
    display: block;
}
.modopprod_item .attrib img {
    display: inline-block !important;
    width: auto !important;
}
.modopprod_item .attrib select {
    width: 100px;
}
.modopprod_item div.jshop_prod_attributes {
    padding: 7px;
}
.modopprod_item .attrib .attributes_title {
    float: none;
}
.modopprod_item .attributes_name {
    font-weight: 700;
}
.js-clone-show-catalog .extra {
    position: relative;
    left: 0;
    background: #ffffff;
    padding: 15px 30px;
    margin-top: 0 !important;
    display: block;
}
.js-clone-show-catalog .extra .level_1 {
    display: block
}
.js-clone-show-catalog .category_menu.fleft .modopprod_item {
    border: none !important
}
.js-clone-show-catalog .category_menu.fleft .modopprod_item:hover {
    box-shadow: 0 0 0 1px #eee !important;
    background: #f7f7f7
}
.js-clone-show-catalog .category_menu.fleft .modopprod_item a:hover {
    color: #33b3e6 !important
}
.js-open-subcategory {
    cursor: pointer;
}
.hide-subcateory .modopprod_item div[class*="level_"] {
    display: none;
}
.hide-subcateory .modopprod_item.have-active-category div[class*="level_"] {
    display: block;
}
.category_menu.fleft .modopprod_item .active-category a {
    font-weight: 700;
}
span.mod-old-price {
    display: block;
    font-size: 12px;
    text-decoration: line-through;
    white-space: nowrap;
    opacity:0.9;
}
.modopprod_item .carousel-caption {
	color:inherit;
	text-shadow:inherit;
}
.mod-butons-block .modopprod_item_buylink a.list-btn, .mod-butons-block .modopprod_item_buylink a.list-btn:hover, .mod-butons-block .modopprod_item_buylink a.list-btn:focus {
	background-color: transparent;
}
.add-link-border {
	-moz-box-shadow:0 0 1px #cccccc;
	-webkit-box-shadow:0 0 1px #cccccc;
	-o-box-shadow:0 0 1px #cccccc;
	box-shadow:0 0 1px #cccccc;
	padding:15px;
}
.add-link-border .owl-dp-carousel.owl-theme .owl-controls .owl-nav [class*=owl-] {
    margin: -35px 0px 0 0px;
}
.vertical.add-link-border .owl-dp-carousel.owl-theme .owl-controls .owl-nav [class*=owl-] {
    margin: -25px 0px 0 0px;
}
.mod-dop-addlink {
	position:absolute;
	bottom:0;
	right:0;
	z-index:1;
}
.modopprod_count {
    margin-top: 15px;
}
.dop_products .tooltip.top .tooltip-inner {
	background-color:#777777;
}
.dop_products .tooltip.top .tooltip-arrow {
	border-top-color:#777777;
}

/*MEDIA*/
@media (max-width:769px){ 
.pos_middle{top:10px !important;}
.pos_middle_header h3{font-size:36px !important;}
.pos_middle_text, .pos_middle_text h3{font-size:18px !important;}	
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
.dop_products .blur-wrapper {
	display:none;
}
}