.jsp_admin {
	font-size: 13px;
}

#content_wrap {
	padding: 12px;
}

.jsp_admin span {
/*    font-size: 14px; */
}

.jsp_admin hr {
    background-color: #CCCCCC;
    border: 0 none;
    color: #FFFFFF;
    height: 1px;
    margin: 18px auto;
    width: 90%;
}

.jsp_admin .backlight {
	background: #708090;
    color: #FFFFFF;
    font-size: 15px;
    padding-left: 12px;
	line-height: 2em !important;
	border-radius: 3px;
}

.jsp_admin .button-rem {
background: #7d7e7d;
background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e));
background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );

    border: 1px solid #777;
    border-radius: 3px;
    color: #EEEEEE !important;
    display: inline-block;
    height: 22px;
    vertical-align: middle;
    width: 32px;
	margin: 0 2px;
/*    background: linear-gradient(to bottom, #D04440 20%, #932E2B 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #BD362F;
    border-radius: 0 4px 4px 0;
    color: #EEEEEE !important;
    display: inline-block;
    height: 22px;
    vertical-align: middle;
    width: 32px; */
}

.jsp_admin .button-add {

background: #84b3f4;
background: -moz-linear-gradient(top,  #84b3f4 0%, #4a87f0 39%, #023dac 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#84b3f4), color-stop(39%,#4a87f0), color-stop(100%,#023dac));
background: -webkit-linear-gradient(top,  #84b3f4 0%,#4a87f0 39%,#023dac 100%);
background: -o-linear-gradient(top,  #84b3f4 0%,#4a87f0 39%,#023dac 100%);
background: -ms-linear-gradient(top,  #84b3f4 0%,#4a87f0 39%,#023dac 100%);
background: linear-gradient(to bottom,  #84b3f4 0%,#4a87f0 39%,#023dac 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84b3f4', endColorstr='#023dac',GradientType=0 );

    border: 1px solid #4A87F0;
    border-radius: 3px;
    color: #EEEEEE !important;
    display: inline-block;
    height: 22px;
    vertical-align: middle;
    width: 32px;
	margin: 0 2px;
/*    background: linear-gradient(to bottom, #51A351 20%, #287328 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #51A351;
    border-radius: 4px 0 0 4px;
    color: #EEEEEE !important;
    display: inline-block;
    height: 22px;
    vertical-align: middle;
    width: 32px; */
}

.jsp_admin .button-val {
background: #38bc48;
background: -moz-linear-gradient(top,  #38bc48 0%, #006e2e 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#38bc48), color-stop(100%,#006e2e));
background: -webkit-linear-gradient(top,  #38bc48 0%,#006e2e 100%);
background: -o-linear-gradient(top,  #38bc48 0%,#006e2e 100%);
background: -ms-linear-gradient(top,  #38bc48 0%,#006e2e 100%);
background: linear-gradient(to bottom,  #38bc48 0%,#006e2e 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38bc48', endColorstr='#006e2e',GradientType=0 );

    border: 1px solid #006E2E;
    border-radius: 3px;
    color: #EEEEEE !important;
    display: inline-block;
    height: 22px;
    vertical-align: middle;
    width: 32px;
}


.jsp_admin a.button-add  img, .jsp_admin a.button-rem  img {
    display: block;
    margin: 0 auto;
    padding-top: 4px;
}


.jsp_admin a.button:hover {
    text-decoration: none;
}

.btn-add {
    background-image: url("../../images/jsfilter/add.png");
    background-position: center, center;
    background-repeat: no-repeat;
    display: block;
    height: 21px;
    width: 31px;
}
.btn-rem {
    background-image: url("../../images/jsfilter/rem.png");
    background-position: center, center;
    background-repeat: no-repeat;
    display: block;
    height: 21px;
    width: 31px;
 }
.btn-val {
    background-image: url("../../images/jsfilter/checklist.png");
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: 16px auto;
    display: block;
    height: 21px;
    width: 31px;
}


/********************************** Динамика ******************************************/
.val_item {
    line-height: 2.4em !important;
}

.val_title {

}

.val_select, .val_popular, .val_title  {
    display: inline-block;
}

#row_auto_sel label {

}

/********************************** Сетка ******************************************/
.jsp_admin .row {
    line-height: 1.4em;
    margin-bottom: 9px;
}

#struct_wrap {

}

.jsp_admin .constructor {
    border-bottom: 1px dotted #CCCCCC;
    margin: 0 auto;
    padding: 0 20px;
	line-height: 40px;
    position: relative;
}

.jsp_admin .constructor:nth-child(even) {
	background: #FFF5EE;
}

.jsp_admin .constructor:nth-child(odd) {
    background: #E7E7E7;
}

.jsp_admin .config {
    padding: 0 12px;
}

.jsp_admin .column {
    display: inline-block;
    vertical-align: middle;
}

.jsp_admin .col1 {
    margin-right: 6px;
    text-align: right;
    width: 200px;
}

.jsp_admin .col2 {
    width: 300px;
}

.jsp_admin .col3 {
	width: 175px;
}

.jsp_admin .col4 {
    width: auto;
}

.jsp_admin .col5 {
    margin-left: 10px;
    font-size: 0;
    vertical-align: middle;
}

/********************************** Формы ******************************************/
.jsp_admin input {
    border-radius: 3px;
    font-size: 13px;
    padding: 3px;
    width: 280px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.jsp_admin select {
    border-radius: 3px;
    font-size: 13px;
    padding: 2px;
    width: 280px;
}

.jsp_admin .constructor select, .jsp_admin .constructor input {
    vertical-align: middle;
    width: 150px;
}

.jsp_admin .constructor input[name="cfg[struct][b_limit][]"] {
    width: 40px;
}

.jsp_admin input[type="submit"] {
	width: 100px;
}

.row .col2 label.radiobtn, .row .col2 input[type="radio"] {
    vertical-align: middle;
    width: 20px;
}

input[name="val[mode]"],
input[name="val[selection]"],
input[name="cfg[menu_invert]"],
input[name="cfg[cat_invert]"],
input[name="val[logic]"],
input[name="val[logic]"],
input[name="cfg[in_prod]"] {
    vertical-align: middle;
    width: 20px;
}

.val_select input,
.val_popular input {
    margin-right: 60px;
    width: auto;
}

.jsp_admin span.info a {
    background: none repeat scroll 0 0 #DC143C;
    border-radius: 3px;
    color: #FFFFFF;
    padding: 3px 12px;
    text-decoration: none;
}

/********************************** Вадима ******************************************/
#info {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.tip {
    width: 140px;
}

/* Joomla 3.x */

iframe {
	border: 0;
}

.radio.btn-group label:first-of-type {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 0;
}


.radio.btn-group label:last-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-right: 0;
}


.radio.btn-group .btn {
    border-radius: 0;
}

.btn-group .btn + .btn {
    margin-left: -1px;
}

div#toolbar-popup-options {
    float: right;
}

textarea[name="comment"] {
	width: 400px;
	height: 80px;
}


.jsp_admin input[name="cfg[img_width]"],
.jsp_admin input[name="cfg[img_height]"] {
	width: 40px;
}
