.jsp_admin .row-fluid {
    margin-bottom: 6px;
}

.jsp_admin  .controls .btn {
    min-width: 30px;
}

.radio.btn-group label:first-child {
    border-radius: 3px 0 0 3px;
}

.radio.btn-group label:last-child {
    border-radius: 0 3px 3px 0;
	margin-left: -1px;
}

.jsp_admin .controls > .radio:first-child {
    padding-top: 4px;
}

.jsp_admin .controls:first-child {
    margin-left: 0;
}

.jsp_admin .btn-group:first-child {
    padding-left: 0;
}

.jsp_admin .alert {
	margin-bottom: 6px;
}

.jsp_admin label.span {
	width: 250px;
	float: left;
}

.jsp_admin .radio.btn-group {
	padding-left: 0px;
}

.jsp_admin input[name="cfg[img_width]"],
.jsp_admin input[name="cfg[img_height]"] {
	width: 40px;
}

div#toolbar-popup-options {
    float: right;
}

#struct_ex_field {
	width: 100%;
}

#struct_ex_type {
    width: auto;
}

iframe {
	border: 0;
}

#modal-options-container {
	height:100%;
}

.modal-body {
    max-height: 90% !important;
}

.jsp_admin span.comment {
    margin-left: 24px;
}

.const-td {
    min-width: 100px;
    width: auto;
}

.const-btn {
    max-width: 140px;
    min-width: 140px;
    text-align: right !important;
    width: 140px;
}

.const-limit {
	width:40px;
	min-width:40px;
}

.const-ex-type {

}

#struct_wrap td {
    padding-left: 2px;
    padding-right: 2px;
}

#struct_wrap .move {
    vertical-align: middle;
}

#struct_wrap .move .sortable-handler {
    cursor: move;
}

#ex_type {

}


textarea[name="comment"] {
	width: 400px;
	height: 80px;
}

.component #system-message-container.j-toggle-main, #j-main-container.j-toggle-main, #system-debug.j-toggle-main {
    float: none;
}