div#system-debug {
  font-family: Courier, Monaco, "Lucida Console";
  background-color: #fff;
  color: #333;
  max-width: 1200px;
  margin: 10px auto 50px;
}
div#system-debug a {
  text-decoration: none !important;
}
div#system-debug table td {
  padding: 2px 6px;
}
