#page-error {
  background: #F0F0F0;
}
#page-error h1 {
  font-family: Helvetica, Arial, sans-serif;
}
#page-error .component-wrapper {
  padding: 30px 10px;
}
#page-error .errorinfo {
  font-size: 14px;
  font-family: Courier, Monaco, "Lucida Console";
}
#page-error .errorinfo pre {
  white-space: pre;
  padding: 0.5em 0 0.5em 1em;
  border: 1px dashed #AAA;
  border-left: 4px solid #B4B4B4;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  background: #EEE;
  font-size: 0.8em;
  max-width: 100%;
  overflow: auto !important;
  overflow-y: hidden;
  max-height: 200px;
}
#page-error .errorinfo table td {
  padding: 4px;
}
#page-error .errorinfo table strong {
  font-size: 16px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
}
