.sf_wrapper {
    display: block;
    margin: 0 auto;
	overflow: visible;
	position: relative;
	z-index: 21;
}

.sf_wrapper * {
    font-family: "Arial","Helvetica",sans-serif;
	margin: 0;
	padding: 0;
	border: 0 none;
	outline: 0 none;
	vertical-align: middle;
	position: relative;
	color: #333;
}

input::-moz-focus-inner /*Remove button padding in FF*/
{ 
    border: 0;
    padding: 0;
}

#sf_tip {
	background: #FFF8DC;
}

.sf_block_params span, .sf_block_params input {
    margin-right: 6px;
}

.sf_block_params input, .sf_block_params select {
	border: 1px solid #ccc;
	background: #fff;
	margin-bottom: 0;
    margin-top: 0;
    display: inline-block;
}

#sf_slider_min input, #sf_slider_max input, .sf_price_wrap input {
    margin: 0;
    text-align: center;
    width: 4em;
	height: 1.5em;
    padding: 0 3px;
}

.sf_container, .form_sort_count {
    background: #f0f0f0;
    display: block;
    height: auto;
    padding: 7px 0;
}

.sf_header {
    margin-bottom: 6px;
    padding: 0 12px;
}

.sf_header span {
	
}

form.sf_form {
    line-height: 1.1em;
	z-index: 2;
}

.sf_block {
    display: block;
	border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #FFFFFF;
}

.sf_block:first-of-type {
	border-top: none;
}

.sf_block:last-of-type {
	border-bottom:none;
}

.sf_block:hover {
	background:#c3d9ff;
	transition: 0.4s;
}

.sf_block_header {
    color: #000;
    cursor: pointer;
	font-weight: 600;
    padding: 8px 5px 8px 21px;
}

.sf_block_title {display:inline-block;}

.sf_block_header .block_comment {
    background: #b0b0b0 none repeat scroll 0 0;
    border: 1px solid #a0a0a0;
    border-radius: 14px;
    color: #ffffff;
    display: inline-block;
    font-size: 0.83em;
    line-height: 0.8em;
    margin-left: 3px;
    padding: 3px 4px;
    vertical-align: middle;
}

.block_comment.hasTip:after {
    content: "?";
}

.sf_ctrl_popular {
    display: inline-block;
    padding-left: 6px;
    vertical-align: middle;
}

.sf_ctrl_popular.roll {

}

.sf_ctrl {
    border-top: 8px solid #000;
    border-left: 4px ridge transparent;
    border-right: 4px solid transparent;
    height: 0;
    position: absolute;
    left: 9px;
    top: 11px;
    width: 0;
}

.sf_ctrl.roll {
	border-left: 8px solid #000;
	border-bottom: 4px solid transparent;
	border-top: 4px ridge transparent;
	border-right: none;
}
	
.sf_block_params {
	padding: 0 10px 10px 21px;
}

.sf_block .sf_block_params:first-child {
    padding: 7px 10px 6px 21px;
}

.sf_block_params label, .sf_block_params input, .sf_block_params button, .sf_block_params select, .sf_block_params textarea {
	line-height:14px;
}

.sf_block_params button {

}

.sf_price_wrap {

}

.sf_block_params label {
    display: block;
    padding: 3px 0;
}

.sf_block_params label:hover{
	color:red;
}

.sf_block_params span {
    border-bottom: 1px dashed #ACACAC;
    display: inline-block;
	color: #333;
}

.sf_block_params select {
    padding: 0.2em;
    width: 100%;
}

.sf_block_params select:not([multiple="multiple"]) {
    height: 2em;
}

.sf_block_params select option {
	padding: .1em .5em;
}

.sf_block_params select option[disabled]{
	color: #999;
}

.sf_buttons {
	text-align:center;
	margin-top: 8px;
}

.sf_buttons input {
    cursor: pointer;
    font-size: 0.9em;
    font-weight: 600;
    height: 29px;
    padding: 0 11px;	
}

input.sf_submit {
background: #7d7e7d;
background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e));
background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
    border: 1px solid #666;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    padding: 3px 10px 3px;
}

input.sf_reset {
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    cursor: pointer;
    padding: 3px 10px 3px;
}

.sf_block_params .ms-choice span {
	border: none;
	line-height: 26px;
}

.sf_block_params label.images {
	display: inline-block;
	padding: 0px;
	margin: 2px;
	vertical-align: top;
	background-repeat: no-repeat;
}

.sf_block_params label.images:hover {
    opacity: 0.8;
	cursor: pointer;
}

.sf_block_params label.images.active{
    box-shadow: 0 0 6px 6px #f0ffff inset;
}


.sf_block_params label.images.disabled {
    cursor: not-allowed !important;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray; /* IE 6-9 */
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	opacity: 0.35;
}

#sf_slider_wrap {}

.sf_slider_digits {
    height: 2.2em;
}

#sf_slider_min, #sf_slider_max  {
    position: absolute;
	top: 0;
}

#sf_slider_min   {
    left: 0;
}

#sf_slider_max {
    right: 0;
}

#sf_slider {
    margin: 0 auto;
    width: 92%;
}

#sort_count {
    position: relative;
}

.sf_panel {
    background: #f0f0f0 none repeat scroll 0 0;
    display: block;
    line-height: 20px;
    margin-bottom: 1em;
    padding: 6px 6px 0 0;
    width: 100%;
}

.sf_panel .title, .sf_panel .item {
	display: inline-block;
	font-size: 0.9em;
	margin-right: 3px;
    vertical-align: top;
}

.sf_panel .title {
    color: #ffffff;
    margin-bottom: 0;
    margin-right: 20px;
    padding: 3px 0 3px 10px;
    position: relative;
}

.sf_panel .title:before, .sf_panel .title:after {
    border-color: rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid none solid solid;
    border-width: 12px 0 14px 13px;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}
	
.sf_panel .title:nth-child(1) {
    background: none repeat scroll 0 0 #808080;
    width: 100px;
}

.sf_panel .title:nth-child(1):after {
    border-left-color: #808080;
    right: -13px;
    top: 0;
}

/*#sort_count .block_sorting_count_to_page {}

#sort_count .box_products_sorting {
	padding: 0;
}

#sort_count .box_products_count_to_page {
    color: #333;
    padding-left: 6px;
}*/

.sf_panel .item {
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #333333;
    cursor: pointer;
    padding: 3px 10px 2px;
}

.sf_panel .item:hover {
	background: -moz-linear-gradient(top,  #ffffff 0%, #f0f0f0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0f0));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f0f0f0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 );
	transition: 0.4s;
}

.sf_panel .item:active {
background: #e5e5e5;
background: -moz-linear-gradient(top,  #e5e5e5 0%, #fcfcfc 100%);
background: -webkit-linear-gradient(top,  #e5e5e5 0%,#fcfcfc 100%);
background: linear-gradient(to bottom,  #e5e5e5 0%,#fcfcfc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#fcfcfc',GradientType=0 );
}

.sf_panel .item .sort {
    display: inline-block;
    height: 0;
    width: 0;
}

.sf_sortbtn {}

.sf_sortcount, .sf_stock, .sf_prodcount {
    color: #555;
    display: inline-block;
    font-size: 0.9em;
    margin: 0.3em 1em;
}
.sf_sortcount > select, .sf_stock > select {
	color: #555;
    font-size: 0.97em;
    height: 2.3em;
    vertical-align: baseline;
}

.sf_panel .asc {
    border-bottom: 8px solid #555555;
    border-left: 4px dotted rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    height: 0;
    margin-left: 6px;
    width: 0;
}

.sf_panel .desc {
    border-top: 8px solid #555555;
    border-left: 4px dotted rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    height: 0;
    margin-left: 6px;
    width: 0;
}

.sf_panel .stock {}

.sf_panel .stock select {
    bottom: 6px;
    font-size: 0.9em;
    height: 23px;
    line-height: 0.9em;
    margin: 0;
    padding: 0 0.2em;
    position: absolute;
    right: 6px;
    width: 135px;
}

#sf_tip {
    border-color: #E5E5E5;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    box-shadow: 0 2px 8px 0 #999999;
    white-space: nowrap;
    z-index: 20;
}

#sf_tip a, #sf_tip a:hover, #sf_tip a:visited {
    background: transparent;
	color: #555;
    display: block;
    padding: 3px 18px;
    text-decoration: none;
}

#sf_tip a:hover {}

#sf_tip a span {
    padding: 0 1px;
}

.wrap_block_reset {
    position: absolute;
    right: 10px;
    top: 8px;
}

.sf_block .ms-drop {
    border-collapse: collapse;
    border-color: #cccccc;
    border-image: none;
    border-radius: 0;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    position: absolute;
    top: 25px;
	box-sizing: border-box;
}

.sf_block .ms-select-all {
	display: none;
}

.sf_block .ms-choice {
    border: 1px solid #cccccc;
    border-radius: 0;
	border-collapse: collapse;
}

.sf_block .block_reset {
    background: #e0e0e0;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.8em;
    padding: 3px;
}

.sf_inline .sf_block {
    border-bottom: medium none;
    border-top: medium none;
    display: inline-table;
    height: 100%;
    vertical-align: top;
    width: 25%;
}

.sf_inline .sf_all {}

.sf_block_params .sf_dimension {
    display: none;
}

#sf_limit {
    width: 60px;
}

/*.sf_block_params.locked input,
.sf_block_params.locked label,
.sf_block_params.locked option,
.sf_block_params.locked #sf_slider_wrap
{
    display: none;
}*/

.form_sort_count .box_products_sorting {margin: 0;}