
.h1 {font-size: 30pt;}


.jshop {





}



.jshop_prod_attributes .row-fluid {background-color: #eeeeee !important; padding:5px; margin: 5px;}
.jshop_prod_attributes .row-fluid div select {min-width: 240px}
.attributes_title { text-align: right}


.prod_qty, .prod_qty_input { display: none !important;}


.jshop h1 {.h1;  font-weight: 200;text-align: left; margin-top: 10px;}
.divider { display: none;}

.jshop_categ {width: 23%; float: left; margin-right: 10px; }
.product_link { margin-top: 15px; display: block; text-align: center; font-size: 16pt; margin-left: 10px; margin-right: 10px;}



 @media (min-width: 200px) {
	 
	.jshop_categ {width: 100%; float: left; margin-right: 10px; }
  
		 

 .jshop_img {
		 
		  min-width: 100px !important;
    min-height: 100px !important;
		 
		  width: 100% !important;border:0px solid red !important;
    	 
		 
	}
	  
	 
	 
}



 @media (min-width: 700px) {
	.jshop_categ {width: 30%; float: left; margin-right: 10px; }
	 a.product_link { font-size: 13pt}
	 
	 
	 

.image_block {    
	 display:table-cell !important;
	margin: auto;
	max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
    width: 200px;
    height: 200px;
    vertical-align:  middle !important;
   
    padding: 10px;
    text-align: center;
	border:0px solid red;

}


.image_block .jshop_img {
	
	    max-height: 200px;
    max-width: 200px;
    padding: 5px;
	border:0px solid green;
	
	
}

	 
	 
	 
	 
	 
}
	



 @media (min-width: 1200px) {
	.jshop_categ {width: 23%; float: left; margin-right: 10px; }
	 
	  a.product_link { font-size: 16pt}
	 


.image_block {    
	 display:table-cell !important;
	margin: auto;

    min-width: 230px;
    min-height: 230px;
    width: 100%;
    vertical-align:  middle !important;
   
    padding: 10px;
    text-align: center;
	border:0px solid red;

}

	 
	 
	 

.image_block .jshop_img {
	
	    max-height: 220px;
    max-width: 220px;
    padding: 5px;
	border:0px solid green;
	
	
}

	 
	 
	 

}
	



.name { min-height: 50px;}

.price_block {border:0px solid red; height: 64px;}


.category {border:1px solid silver}

.shadow {
	
	-webkit-box-shadow: 0px 0px 29px 0px rgba(50, 50, 50, 0.43);
-moz-box-shadow:    0px 0px 29px 0px rgba(50, 50, 50, 0.43);
box-shadow:         0px 0px 29px 0px rgba(50, 50, 50, 0.43);
	
	
}
.category:hover {.shadow}
.jshop_categ .jshop_img {width: 100%; }

.list_category .category .image { padding:10px;}

.image_middle span img {width: 100%}
.image_middle  { width: auto; }

.content { 
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d8d8d8+0,ffffff+7,ffffff+100 */
background: #d8d8d8; /* Old browsers */
background: -moz-linear-gradient(top, #d8d8d8 0%, #ffffff 7%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #d8d8d8 0%,#ffffff 7%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #d8d8d8 0%,#ffffff 7%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	padding-top:20px;
	min-height: 700px;
}
#list_product_image_middle {}


#list_product_image_middle img { border:1px solid silver; width:100%; padding:10px; margin-bottom: 10px;}
.productfull div {border:0px solid red;}

.productfull #block_price { font-size: 20pt; .bold; color:black;}
.requiredtext {display: none}

.productfull h2 { text-align: center; font-weight: 600; font-size: 14pt; margin-bottom: 20px;}

.attributgr_name {margin-bottom: 15px; margin-top: 15px; display: block}
.text_zoom {display: none}

.second_description {margin-bottom: 10px;}
	
	img.jshop_img_thumb {width:100px !important; height: 60px !important; border:1px solid silver; margin: 0px; padding: 3px;}
.jshop_prod_description table td,  .second_description table td { background-color: white !important;border-bottom:1px solid silver; width: 100%; width: auto !important; padding:6px;}

.jshop_prod_description table, .second_description table {border:0px; width: 100%}

.jshop_prod_description table th, .second_description table th {padding-top: 20px;}




.manufacturer_logo {}

.manufacturer_logo img {width: 100px;}




.radio_attr_label img {display:none;width: 100px; height:100px; border:1px solid black;}

#list_product_image_thumb {display: block;}
.buy_button {background-color: @green; padding:5px; color:white; text-transform: uppercase; .tiny; font-size: 20pt; border:0px; padding-left: 20px; padding-right: 20px;  min-width: 200px}
.buy_button:hover { background-color: @brown; color:white; text-decoration: none}


.conf_button, .conf_button:focus { .buy_button; font-size: 14pt; width: 100%;  margin-top: 20px; margin-bottom: 20px; display: block; text-align: center}

.conf_button:hover {  background-color: @brown; color:white; text-decoration: none}



.buy_button_oneclick { background-color:@green2; padding:5px; color:white; text-transform: uppercase; .tiny; font-size: 10pt; border:0px; padding-left: 20px; padding-right: 20px; margin-top: 10px; min-width: 200px}

.buy_button_oneclick:hover { background-color: @brown;}


.btn {border-radius:0px !important}


.print {margin-top:16px;}


.button_back input { font-size:9pt; color:white; background-color:@green}

.button_back input:hover {background-color:@green2; color:white}

 
	@media (min-width: 200px) {
.jshop { margin: 10px;}
		
		
		
}
	@media (min-width: 700px) {
.jshop { margin: auto}
		
}



.jshop_menu_level_2,  .jshop_menu_level_2_a {margin-left:35px !important;}

.jshop_menu_level_3 {margin-left:55px !important;}

.jshop_menu_level_3_a {margin-left:55px !important;}


.jshop_menu_level_0_a a, .jshop_menu_level_1_a a, .jshop_menu_level_2_a a,  .jshop_menu_level_3_a a {
    font-weight: normal !important; background-color: @green; display: inline-block; color:white; padding:3px;
}

.jshop_menu_level_0_a a:hover, .jshop_menu_level_1_a a:hover, .jshop_menu_level_2_a a:hover,  .jshop_menu_level_3_a a:hover {
	background-color: @brown; color:white; text-decoration: none	}

.jshop_menu_level_0 { display: none} 
.jshop_menu_level_0_a { display: none}
	 
	 .jshop_menu_level_1_a a {font-size:14pt;}

	 .jshop_menu_level_1 {font-size:14pt; margin-top: 7px; margin-bottom: 7px;  }

.jshop_menu_level_2, .jshop_menu_level_3 {margin-top: 7px; margin-bottom: 7px;  }



.jshop h1 {border-bottom:0px; margin-bottom: 30px;}

.sf_panel {display:none}


.category .image { min-height:170px; min-width:170px; max-height: 170px; height:170px; border: 0px solid red !important; display: table-cell; vertical-align: middle}

.category .image img {border:0px solid green}

.list_category .jshop_img  {width: 96%}

.category_short_description { margin: 7px;}
.list_product .block_product {border:1px solid #B9B9B9; padding:20px; padding-top: 20px;}

.list_product .block_product:hover {.shadow}

#mxcpr {display: none}

.list_product .button_detail { display:none;}

.list_product .jshop_price, .prices {color:black; font-weight:bold; text-align:right; }

.list_product .jshop_price span { font-size: 17pt !important;}

.form-control {border-radius:0px !important; padding:4px; background-color: #eeeeee !important}
	
.download a { text-decoration:underline}

.preim img {margin: auto}

.preim div {text-align: center}

.preim p { text-transform:uppercase ; font-size:17pt; margin-top:20px; margin-bottom:0px; text-align:center; margin-left:20px; margin-right:20px; }


.nvg-user-exist-or-new {display: none}

#oneStepCheckoutForm {.shadow; border:1px solid gray; margin-left:100px; margin-right:100px; padding:40px; }

#oneStepCheckoutForm input {font-size:16pt; padding:5px;}

.nvg-addinfo-textarea {width:100%}

.button_order_finish {
	.buy_button !important; font-size:20pt !important; border: 0px !important; margin-top:20px; }

.button_order_finish:hover {background-color: @brown !important;}

.total {font-size:16pt;}

.nvg-block-adress-fields {margin-top:10px;}

 
.modal-title { text-align: center; font-weight: 600; font-size: 20pt}
.modal-content {border-radius:0px !important; padding:20px;}
a.conf_menu { margin-left:30px; font-size:15pt; font-weight: bold; display: block}



.jshop_list_product .product .image { text-align: center!important; width: 100% !important; }
 
 
.jshop_list_product .product .image .image_block { }

.jshop_list_product .product .image .image_block img  { display: block; margin: auto}

.preim_product {font-size: 12pt;}

.preim_product div { border:0px solid red; text-align: center;}

.preim_product div img {margin: auto; width: 60%; margin-bottom: 10px; margin-top:10px;}
