@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
#system-message .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
#system-message .alert .alert-link {
  font-weight: bold;
}
#system-message .alert > p,
#system-message .alert > ul {
  margin: 0;
}
#system-message .alert > p + p {
  margin-top: 5px;
}
#system-message .close {
  position: relative;
  line-height: 20px;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 #ffffff;
  text-decoration: none;
  zoom: 1;
  opacity: 0.2;
  filter: alpha(opacity= 20 );
}
#system-message .close:hover,
#system-message .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  zoom: 1;
  opacity: 0.4;
  filter: alpha(opacity= 40 );
}
#system-message .alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
#system-message .alert-notice hr {
  border-top-color: #c9e2b3;
}
#system-message .alert-notice .alert-link {
  color: #2b542c;
}
#system-message .alert-message {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
#system-message .alert-message hr {
  border-top-color: #a6e1ec;
}
#system-message .alert-message .alert-link {
  color: #245269;
}
#system-message .alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
#system-message .alert-warning hr {
  border-top-color: #f7e1b5;
}
#system-message .alert-warning .alert-link {
  color: #66512c;
}
#system-message .alert-error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
#system-message .alert-error hr {
  border-top-color: #e4b9c0;
}
#system-message .alert-error .alert-link {
  color: #843534;
}
#system-message {
  border: 0;
  margin: 0;
  padding: 0;
}
#system-message dt {
  position: absolute;
  top: -2000px;
  left: -3000px;
}
#system-message dd {
  margin: 0 0 15px 0;
  font-weight: bold;
  text-indent: 0px;
  padding: 0;
}
#system-message dd ul {
  color: #000;
  list-style: none;
  padding: 0px;
}
#system-message dd ul li {
  line-height: 1.5em;
}
#system-message dd.message ul {
  padding: 10px 10px 10px 40px;
  border-top: 2px solid #90B203;
  border-bottom: 2px solid #90B203;
}
#system-message dd.error ul {
  padding: 10px 10px 10px 40px;
  border-top: 2px solid #990000;
  border-bottom: 2px solid #990000;
}
#system-message dd.notice ul {
  padding: 10px 10px 10px 40px;
  border-top: 2px solid #FAA528;
  border-bottom: 2px solid #FAA528;
  color: #000;
  margin: 10px 0;
}
#page-error {
  background: #F0F0F0;
}
#page-error h1 {
  font-family: Helvetica, Arial, sans-serif;
}
#page-error .component-wrapper {
  padding: 30px 10px;
}
#page-error .errorinfo {
  font-size: 14px;
  font-family: Courier, Monaco, "Lucida Console";
}
#page-error .errorinfo pre {
  white-space: pre;
  padding: 0.5em 0 0.5em 1em;
  border: 1px dashed #AAA;
  border-left: 4px solid #B4B4B4;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  background: #EEE;
  font-size: 0.8em;
  max-width: 100%;
  overflow: auto !important;
  overflow-y: hidden;
  max-height: 200px;
}
#page-error .errorinfo table td {
  padding: 4px;
}
#page-error .errorinfo table strong {
  font-size: 16px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
}
div#system-debug {
  font-family: Courier, Monaco, "Lucida Console";
  background-color: #fff;
  color: #333;
  max-width: 1200px;
  margin: 10px auto 50px;
}
div#system-debug a {
  text-decoration: none !important;
}
div#system-debug table td {
  padding: 2px 6px;
}
#page-offline {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #333;
  text-align: center;
}
#page-offline img {
  border: 0 none;
  margin-left: auto;
  margin-right: auto;
}
#page-offline #frame {
  margin: 20px auto;
  width: 405px;
  padding: 20px;
}
#page-offline #frame img {
  max-width: 100%;
  height: auto;
}
#page-offline form {
  margin: auto;
  text-align: left;
}
#page-offline form p {
  margin: 0;
  padding: 4px 0 4px 0;
}
#page-offline form fieldset {
  border: 0 none;
  margin: 0em;
  padding: 0.2em;
}
#page-offline form fieldset .input p {
  clear: left;
}
#page-offline form label {
  display: block;
  float: left;
  margin: 5px 0px 2px 0px;
  width: 10em;
}
#page-offline form input {
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#page-offline form input[type=text],
#page-offline form input[type=password] {
  width: 200px;
}
#page-offline form input.button {
  width: 120px;
  height: 32px;
  cursor: pointer;
  background-color: #fff;
}
#page-offline form input.button:hover {
  border-color: #fc902e;
}
#page-offline form #frmlogin {
  margin: 0 10px 0 10px;
}
#page-offline form #frmlogin fieldset.button {
  text-align: right;
}
#page-offline #system-message {
  margin: 10px auto;
  padding: 20px 0 0;
  width: 450px;
}
#page-offline #system-message h4 {
  display: none;
}
.clearfix {
  display: block;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix {
  height: 1%;
}
body {
  background: #f0f0f0;
  margin: 0;
  padding: 0;
}
body .component-wrapper {
  padding: 30px 50px 50px;
  margin: 30px auto;
  background: #fcfcfc;
  border: 1px solid #aaa;
  height: 'auto';
  width: 800px;
  -webkit-box-shadow: 0 3px 10px #bbb;
  -moz-box-shadow: 0 3px 10px #bbb;
  box-shadow: 0 3px 10px #bbb;
  border-radius: 6px;
  background-color: #ebebeb;
  background-image: -moz-linear-gradient(top, #ddd, #fff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ddd), to(#fff));
  background-image: -webkit-linear-gradient(top, #ddd, #fff);
  background-image: -o-linear-gradient(top, #ddd, #fff);
  background-image: linear-gradient(to bottom, #ddd, #fff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdddddd', endColorstr='#ffffffff', GradientType=0);
}
.example-smallImage-to-base64 {
  background: url('../images/test.png');
  -test1-background: url('../images/test.png');
  -test2-background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADkAAAA5CAYAAACMGIOFAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFBJREFUeNrszwEBAAAEAzD073w92Bqsk9R1Uw9ISkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkoetAIMAO7uA29MAC7NAAAAAElFTkSuQmCC") 0 50% no-repeat;
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .no-print {
    display: none !important;
  }
}
@media only screen and (min-width: 320px) {
}
@media only screen and (min-width: 480px) {
}
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 801px) {
}
@media only screen and (min-width: 1025px) {
}
@media only screen and (min-width: 1281px) {
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (   min--moz-device-pixel-ratio: 2), only screen and (     -o-min-device-pixel-ratio: 2/1), only screen and (        min-device-pixel-ratio: 2), only screen and (           min-resolution: 192dpi), only screen and (            min-resolution: 2dppx) {
}
.h1 {
  font-size: 30pt;
}
.jshop_prod_attributes .row-fluid {
  background-color: #eeeeee !important;
  padding: 5px;
  margin: 5px;
}
.jshop_prod_attributes .row-fluid div select {
  min-width: 240px;
}
.attributes_title {
  text-align: right;
}
.prod_qty,
.prod_qty_input {
  display: none !important;
}
.jshop h1 {
  font-size: 30pt;
  font-weight: 200;
  text-align: left;
  margin-top: 10px;
}
.divider {
  display: none;
}
.jshop_categ {
  width: 23%;
  float: left;
  margin-right: 10px;
}
.product_link {
  margin-top: 15px;
  display: block;
  text-align: center;
  font-size: 16pt;
  margin-left: 10px;
  margin-right: 10px;
}
@media (min-width: 200px) {
  .jshop_categ {
    width: 100%;
    float: left;
    margin-right: 10px;
  }
  .jshop_img {
    min-width: 100px !important;
    min-height: 100px !important;
    width: 100% !important;
    border: 0px solid red !important;
  }
}
@media (min-width: 700px) {
  .jshop_categ {
    width: 30%;
    float: left;
    margin-right: 10px;
  }
  a.product_link {
    font-size: 13pt;
  }
  .image_block {
    display: table-cell !important;
    margin: auto;
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
    width: 200px;
    height: 200px;
    vertical-align: middle !important;
    padding: 10px;
    text-align: center;
    border: 0px solid red;
  }
  .image_block .jshop_img {
    max-height: 200px;
    max-width: 200px;
    padding: 5px;
    border: 0px solid green;
  }
}
@media (min-width: 1200px) {
  .jshop_categ {
    width: 23%;
    float: left;
    margin-right: 10px;
  }
  a.product_link {
    font-size: 16pt;
  }
  .image_block {
    display: table-cell !important;
    margin: auto;
    min-width: 230px;
    min-height: 230px;
    width: 100%;
    vertical-align: middle !important;
    padding: 10px;
    text-align: center;
    border: 0px solid red;
  }
  .image_block .jshop_img {
    max-height: 220px;
    max-width: 220px;
    padding: 5px;
    border: 0px solid green;
  }
}
.name {
  min-height: 50px;
}
.price_block {
  border: 0px solid red;
  height: 64px;
}
.category {
  border: 1px solid silver;
}
.shadow {
  -webkit-box-shadow: 0px 0px 29px 0px rgba(50, 50, 50, 0.43);
  -moz-box-shadow: 0px 0px 29px 0px rgba(50, 50, 50, 0.43);
  box-shadow: 0px 0px 29px 0px rgba(50, 50, 50, 0.43);
}
.category:hover {
  -webkit-box-shadow: 0px 0px 29px 0px rgba(50, 50, 50, 0.43);
  -moz-box-shadow: 0px 0px 29px 0px rgba(50, 50, 50, 0.43);
  box-shadow: 0px 0px 29px 0px rgba(50, 50, 50, 0.43);
}
.jshop_categ .jshop_img {
  width: 100%;
}
.list_category .category .image {
  padding: 10px;
}
.image_middle span img {
  width: 100%;
}
.image_middle {
  width: auto;
}
.content {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d8d8d8+0,ffffff+7,ffffff+100 */
  background: #d8d8d8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d8d8d8 0%, #ffffff 7%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #d8d8d8 0%, #ffffff 7%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #d8d8d8 0%, #ffffff 7%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d8d8d8', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
  padding-top: 20px;
  min-height: 700px;
}
#list_product_image_middle img {
  border: 1px solid silver;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
.productfull div {
  border: 0px solid red;
}
.productfull #block_price {
  font-size: 20pt;
  font-weight: bold;
  color: black;
}
.requiredtext {
  display: none;
}
.productfull h2 {
  text-align: center;
  font-weight: 600;
  font-size: 14pt;
  margin-bottom: 20px;
}
.attributgr_name {
  margin-bottom: 15px;
  margin-top: 15px;
  display: block;
}
.text_zoom {
  display: none;
}
.second_description {
  margin-bottom: 10px;
}
img.jshop_img_thumb {
  width: 100px !important;
  height: 60px !important;
  border: 1px solid silver;
  margin: 0px;
  padding: 3px;
}
.jshop_prod_description table td,
.second_description table td {
  background-color: white !important;
  border-bottom: 1px solid silver;
  width: 100%;
  width: auto !important;
  padding: 6px;
}
.jshop_prod_description table,
.second_description table {
  border: 0px;
  width: 100%;
}
.jshop_prod_description table th,
.second_description table th {
  padding-top: 20px;
}
.manufacturer_logo img {
  width: 100px;
}
.radio_attr_label img {
  display: none;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
#list_product_image_thumb {
  display: block;
}
.buy_button {
  background-color: #7da33a;
  padding: 5px;
  color: white;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 20pt;
  border: 0px;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 200px;
}
.buy_button:hover {
  background-color: #a29174;
  color: white;
  text-decoration: none;
}
.conf_button,
.conf_button:focus {
  background-color: #7da33a;
  padding: 5px;
  color: white;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 20pt;
  border: 0px;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 200px;
  font-size: 14pt;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  text-align: center;
}
.conf_button:hover {
  background-color: #a29174;
  color: white;
  text-decoration: none;
}
.buy_button_oneclick {
  background-color: #67882e;
  padding: 5px;
  color: white;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 10pt;
  border: 0px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  min-width: 200px;
}
.buy_button_oneclick:hover {
  background-color: #a29174;
}
.btn {
  border-radius: 0px !important;
}
.print {
  margin-top: 16px;
}
.button_back input {
  font-size: 9pt;
  color: white;
  background-color: #7da33a;
}
.button_back input:hover {
  background-color: #67882e;
  color: white;
}
@media (min-width: 200px) {
  .jshop {
    margin: 10px;
  }
}
@media (min-width: 700px) {
  .jshop {
    margin: auto;
  }
}
.jshop_menu_level_2,
.jshop_menu_level_2_a {
  margin-left: 35px !important;
}
.jshop_menu_level_3 {
  margin-left: 55px !important;
}
.jshop_menu_level_3_a {
  margin-left: 55px !important;
}
.jshop_menu_level_0_a a,
.jshop_menu_level_1_a a,
.jshop_menu_level_2_a a,
.jshop_menu_level_3_a a {
  font-weight: normal !important;
  background-color: #7da33a;
  display: inline-block;
  color: white;
  padding: 3px;
}
.jshop_menu_level_0_a a:hover,
.jshop_menu_level_1_a a:hover,
.jshop_menu_level_2_a a:hover,
.jshop_menu_level_3_a a:hover {
  background-color: #a29174;
  color: white;
  text-decoration: none;
}
.jshop_menu_level_0 {
  display: none;
}
.jshop_menu_level_0_a {
  display: none;
}
.jshop_menu_level_1_a a {
  font-size: 14pt;
}
.jshop_menu_level_1 {
  font-size: 14pt;
  margin-top: 7px;
  margin-bottom: 7px;
}
.jshop_menu_level_2,
.jshop_menu_level_3 {
  margin-top: 7px;
  margin-bottom: 7px;
}
.jshop h1 {
  border-bottom: 0px;
  margin-bottom: 30px;
}
.sf_panel {
  display: none;
}
.category .image {
  min-height: 170px;
  min-width: 170px;
  max-height: 170px;
  height: 170px;
  border: 0px solid red !important;
  display: table-cell;
  vertical-align: middle;
}
.category .image img {
  border: 0px solid green;
}
.list_category .jshop_img {
  width: 96%;
}
.category_short_description {
  margin: 7px;
}
.list_product .block_product {
  border: 1px solid #B9B9B9;
  padding: 20px;
  padding-top: 20px;
}
.list_product .block_product:hover {
  -webkit-box-shadow: 0px 0px 29px 0px rgba(50, 50, 50, 0.43);
  -moz-box-shadow: 0px 0px 29px 0px rgba(50, 50, 50, 0.43);
  box-shadow: 0px 0px 29px 0px rgba(50, 50, 50, 0.43);
}
#mxcpr {
  display: none;
}
.list_product .button_detail {
  display: none;
}
.list_product .jshop_price,
.prices {
  color: black;
  font-weight: bold;
  text-align: right;
}
.list_product .jshop_price span {
  font-size: 17pt !important;
}
.form-control {
  border-radius: 0px !important;
  padding: 4px;
  background-color: #eeeeee !important;
}
.download a {
  text-decoration: underline;
}
.preim img {
  margin: auto;
}
.preim div {
  text-align: center;
}
.preim p {
  text-transform: uppercase ;
  font-size: 17pt;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
.nvg-user-exist-or-new {
  display: none;
}
#oneStepCheckoutForm {
  -webkit-box-shadow: 0px 0px 29px 0px rgba(50, 50, 50, 0.43);
  -moz-box-shadow: 0px 0px 29px 0px rgba(50, 50, 50, 0.43);
  box-shadow: 0px 0px 29px 0px rgba(50, 50, 50, 0.43);
  border: 1px solid gray;
  margin-left: 100px;
  margin-right: 100px;
  padding: 40px;
}
#oneStepCheckoutForm input {
  font-size: 16pt;
  padding: 5px;
}
.nvg-addinfo-textarea {
  width: 100%;
}
.button_order_finish {
  background-color: #7da33a !important;
  padding: 5px !important;
  color: white !important;
  text-transform: uppercase !important;
  font-weight: 200 !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  min-width: 200px !important;
  font-size: 20pt !important;
  border: 0px !important;
  margin-top: 20px;
}
.button_order_finish:hover {
  background-color: #a29174 !important;
}
.total {
  font-size: 16pt;
}
.nvg-block-adress-fields {
  margin-top: 10px;
}
.modal-title {
  text-align: center;
  font-weight: 600;
  font-size: 20pt;
}
.modal-content {
  border-radius: 0px !important;
  padding: 20px;
}
a.conf_menu {
  margin-left: 30px;
  font-size: 15pt;
  font-weight: bold;
  display: block;
}
.jshop_list_product .product .image {
  text-align: center!important;
  width: 100% !important;
}
.jshop_list_product .product .image .image_block img {
  display: block;
  margin: auto;
}
.preim_product {
  font-size: 12pt;
}
.preim_product div {
  border: 0px solid red;
  text-align: center;
}
.preim_product div img {
  margin: auto;
  width: 60%;
  margin-bottom: 10px;
  margin-top: 10px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (   min--moz-device-pixel-ratio: 2), only screen and (     -o-min-device-pixel-ratio: 2/1), only screen and (        min-device-pixel-ratio: 2), only screen and (           min-resolution: 192dpi), only screen and (            min-resolution: 2dppx), only screen and (min-width: 801px) {
}
.font {
  font-family: 'Open Sans', sans-serif;
}
.margin10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.bold {
  font-weight: bold;
}
.tiny {
  font-weight: 200;
}
.gray-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100 */
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
  /* IE6-9 */
}
body,
p,
div {
  font-family: 'Open Sans', sans-serif;
}
a {
  color: #7da15;
  text-decoration: underline;
}
.menu_block {
  border-top: 4px solid #7da33a;
}
.preim {
  padding-top: 20px;
  padding-bottom: 20px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100 */
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
  /* IE6-9 */
}
.preim .preim a:hover {
  text-decoration: none;
  color: #7da33a;
}
.preim .preim img:hover {
  opacity: 0.8;
}
.header {
  margin-bottom: 20px;
}
.spec_header {
  display: block;
  color: white;
  text-transform: uppercase;
  background-color: #a29174;
  font-weight: 200;
  padding: 20px;
  text-align: center;
  font-size: 18pt;
  padding-top: 20px;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 40px;
}
a.spec_header:hover {
  background-color: #7da33a;
  text-decoration: none;
  color: white;
}
.brown_header {
  display: block;
  background-image: url("../images/h1_bg_braun.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  width: 200px;
  height: 95px;
  background-color: #a29174;
  color: white;
  text-transform: uppercase;
  font-weight: 200;
  padding: 10px;
  text-align: center;
  font-size: 15pt;
  padding-top: 20px;
}
@media (min-width: 200px) {
  .brown_header {
    background-image: url("../images/h1_bg_braun.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    width: 270px;
    height: 95px;
    background-color: #a29174;
    color: white;
    text-transform: uppercase;
    font-weight: 200;
    padding: 10px;
    text-align: center;
    font-size: 14pt;
    padding-top: 10px;
  }
}
@media (min-width: 700px) {
  .brown_header {
    background-image: url("../images/h1_bg_braun.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    width: 475px;
    height: 95px;
    background-color: #a29174;
    color: white;
    text-transform: uppercase;
    font-weight: 200;
    padding: 10px;
    text-align: center;
    font-size: 18pt;
    padding-top: 20px;
  }
}
.catalog_menu h3 {
  display: block;
  background-image: url("../images/h1_bg_braun.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  width: 200px;
  height: 95px;
  background-color: #a29174;
  color: white;
  text-transform: uppercase;
  font-weight: 200;
  padding: 10px;
  text-align: center;
  font-size: 15pt;
  padding-top: 20px;
  width: 100%;
  margin-top: 10px;
}
.catalog_menu {
  background-color: white;
}
.catalog_menu div {
  margin-left: 20px;
}
.green_header {
  background-image: url("../images/h1_bg_green.png");
  margin: auto;
  background-position: bottom right;
  background-repeat: no-repeat;
  width: 255px;
  height: 100px;
  color: white;
  text-transform: uppercase;
  font-weight: 200;
  padding: 10px;
  text-align: center;
  font-size: 20pt;
  padding-top: 25px;
  margin-bottom: 50px;
}
.green_header2 {
  background-image: url("../images/h1_bg_green.png");
  margin: auto;
  background-position: bottom right;
  background-repeat: no-repeat;
  width: 255px;
  height: 100px;
  color: white;
  text-transform: uppercase;
  font-weight: 200;
  padding: 10px;
  text-align: center;
  font-size: 20pt;
  padding-top: 25px;
  margin-bottom: 50px;
  width: 100%;
  background-image: url("../images/h1_bg_green2.png");
}
.list_product_image_middle img {
  width: 100%;
}
.gray_block {
  background-color: #e8e8e8;
  padding: 20px;
  margin-top: 40px;
}
.gray_block .green_header {
  margin-top: -50px;
}
.green_line {
  border: 15px solid #7da33a;
  margin-top: 30px;
}
.bottom_block {
  background-color: #565656;
  border-top: 2px solid white;
  padding: 20px;
}
.bottom_menu a {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  padding: 3px !important;
}
.bottom_menu li {
  padding: 0px !important;
}
.desite {
  color: white;
}
.desite a {
  color: white;
}
.desite img {
  margin-bottom: 10px;
  margin-top: 00px;
  float: left;
  margin-right: 20px;
}
.head_block {
  margin-bottom: 20px;
  margin-top: 20px;
}
.head_block div {
  border: 0px solid red;
}
.search input#jshop_search {
  padding: 4px;
  width: 200px !important;
  font-size: 14pt;
}
.search .button {
  background-image: url("../images/search_icon.png");
  width: 19px;
  height: 22px;
  background-color: transparent;
  border: 0px;
  font-size: 0pt;
  position: absolute;
  margin-top: 8px;
  margin-left: 5px;
}
.search .button:hover {
  opacity: 0.8;
}
.cons {
  font-size: 14pt;
  color: gray;
  margin-top: 5px;
  text-decoration: underline;
}
.cart_icon {
  background-image: url("../images/cart.png");
  width: 56px;
  height: 55px;
}
.q {
  background-color: #7da33a;
  padding: 4px;
  display: block;
  border-radius: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  position: absolute;
  margin-left: -10px;
  margin-top: 30px;
  min-width: 30px;
  min-height: 30px;
}
#jshop_summ_product {
  float: right;
  display: block;
  font-size: 14pt;
}
.cart_block {
  float: right;
}
.cart_block td {
  padding: 4px;
}
.te {
  font-weight: bold;
  font-size: 16pt;
  float: right !important;
}
.nav {
  margin-top: 10px;
  margin-bottom: 0px;
}
.stars_no_active {
  display: none;
}
.breadcrumb {
  margin-bottom: 0px !important;
  font-size: 8pt;
  margin-left: 0px;
  padding-left: 0px;
  background-color: transparent !important;
}
@media (min-width: 1000px) {
  .phone {
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  #gruemenu li a {
    font-size: 8pt !important;
    padding: 18px 20px 20px 20px !important;
    border: 1px solid red;
  }
}
@media (min-width: 1200px) {
  .phone {
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  #gruemenu li a {
    font-size: 10pt !important;
    padding: 18px 24px 21px 25px !important;
  }
}
.left_ug {
  width: 23px;
  height: 42px;
  background-image: url("../images/left_ug.gif");
}
.right_ug {
  width: 23px;
  height: 42px;
  background-image: url("../images/right_ug.gif");
}
.modopprod_item_image {
  min-height: 240px;
  position: relative;
  height: 240px;
}
.modopprod_item_image img {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.modopprod_item_name a {
  font-weight: normal !important;
  color: black !important;
}
.page-header {
  margin: 0px !important;
  border: 0px !important;
}
.page-header h2 {
  font-size: 30pt;
  font-weight: 200;
  text-align: left;
  margin-top: 10px;
  margin-top: 0px;
  border: 0px;
}
