
// J!Blank Template for Joomla by JBlank.pro (JBZoo.com)
// Examples and test styles

@import "misc/variables";   // your template vars
@import "misc/mixins";      // custom mixin libs
@import "misc/aliases";     // popuplar mixin's names
@import "layouts/reset";    // Simple style resets
@import "layouts/messages"; // Joomla messages (<jdoc:include type="message" />)
@import "layouts/error";    // Joomla error page markup (when fatal error appeared)
@import "layouts/debug";    // Joomla profiler's styles (when debug is mode on)
@import "layouts/offline";  // Joomla offline page (when offline is mode on)

// ***************************************** FRONTEND STYLES ***********************************************************

// classic clear fix
.clearfix {
    .clearfix();
}

// example for custom fonts
// .font-face('FontAwesome', 'fontawesome-webfont');

// include own files
//@import "layouts/some-layout.less";

// OR write your code here!
body {
    background: #f0f0f0;
    margin: 0;
    padding: 0;

    .component-wrapper {
        padding: 30px 50px 50px;
        margin: 30px auto;
        background: #fcfcfc;
        border: 1px solid #aaa;
        .size(800px, 'auto');
        .box-shadow(0 3px 10px #bbb);
        .border-radius(6px);
        .gradient(#ddd, #fff);
    }
}

// base64 example
.example-smallImage-to-base64 {
    background: url('../images/test.png'); // test simple relation path
    -test1-background: data-uri('../images/test.png'); // test convertion image to base64
    -test2-background: data-uri('../images/inner/test.png') 0 50% no-repeat;
    //-test3-background: data-uri('not-exists-image.gif');
}

// ***************************************** MEDIA QUERIES *************************************************************
// see variables.less
@media @print       { @import "media/print.less";       }
@media @mobile-mini { @import "media/mobile-mini.less"; }
@media @mobile      { @import "media/mobile.less";      }
@media @tablet-mini { @import "media/tablet-mini.less"; }
@media @tablet      { @import "media/tablet.less";      }
@media @desktop     { @import "media/desktop.less";     }
@media @desktop-xl  { @import "media/desktop-xl.less";  }
@media @retina      { @import "media/retina.less";      }
@import "joomshopping.less";  
// Combo! =)
@media @retina, @tablet {
    // @import "media/retina-tablet.less";
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');

@green: #7da33a;

@green2:#67882e;
@brown: #a29174;

.font {
  font-family: 'Open Sans', sans-serif;
}

.margin10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bold {font-weight: bold;}

.tiny { font-weight: 200}
.gray-gradient {
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */



}

body, p, div {
  .font
}


a {color:#7da15; text-decoration: underline}



.menu_block { border-top:4px solid @green}

.preim {
    padding-top: 20px; padding-bottom: 20px;
	
	
	.preim a:hover  { text-decoration: none; color:@green}
	
	.preim img:hover { opacity: 0.8} 
	
.gray-gradient 
}
.header {margin-bottom: 20px;}

.spec_header 
{
	display:block;  background-color:@brown; color:white; text-transform: uppercase; background-color:@brown; font-weight: 200; padding:20px; text-align: center; font-size: 18pt; padding-top: 20px; border-radius:5px; padding-left: 40px; padding-right: 40px;
}


a.spec_header:hover 
{ background-color:@green; text-decoration:none; color:white;
}




 .brown_header {display:block; background-image: url("../images/h1_bg_braun.png"); background-position: bottom right; background-repeat: no-repeat; width: 200px; height: 95px; background-color:@brown; color:white; text-transform: uppercase; font-weight: 200; padding:10px; text-align: center; font-size: 15pt; padding-top: 20px; }
	 

 @media (min-width: 200px) {
	 
	
  
	 .brown_header { background-image: url("../images/h1_bg_braun.png"); background-position: bottom right; background-repeat: no-repeat; width: 270px; height: 95px; background-color:@brown; color:white; text-transform: uppercase; font-weight: 200; padding:10px; text-align: center; font-size: 14pt; padding-top: 10px; }
	 
	 
}


 @media (min-width: 700px) {
.brown_header { background-image: url("../images/h1_bg_braun.png"); background-position: bottom right; background-repeat: no-repeat; width: 475px; height: 95px; background-color:@brown; color:white; text-transform: uppercase; font-weight: 200; padding:10px; text-align: center; font-size: 18pt; padding-top: 20px; }
 
}





.catalog_menu h3 {
	.brown_header; width: 100%; margin-top: 10px;
	
}

.catalog_menu {background-color: white;}

.catalog_menu div {margin-left:20px}

.green_header {
    background-image: url("../images/h1_bg_green.png"); margin: auto; background-position: bottom right; background-repeat: no-repeat; width: 255px; height: 100px; color:white; text-transform: uppercase; font-weight: 200; padding:10px; text-align: center; font-size: 20pt; padding-top: 25px; margin-bottom:50px;
    
    
}


.green_header2 {
	
	.green_header ; width: 100%;   background-image: url("../images/h1_bg_green2.png");
	
	
}

.list_product_image_middle img {width: 100%}


.gray_block { background-color: #e8e8e8; padding:20px; margin-top: 40px;}

.gray_block .green_header { margin-top: -50px;}


.green_line { border:15px solid @green;  margin-top: 30px;}




.bottom_block {
    
    
    background-color: #565656; border-top:2px solid white; padding:20px;
}


.bottom_menu a {color:white; .font; font-weight: 200; padding: 3px !important}

.bottom_menu li { padding: 0px !important;}

.desite { color:white}
.desite a { color:white;}
.desite img {margin-bottom: 10px; margin-top: 00px; float: left; margin-right: 20px}


.head_block { margin-bottom: 20px; margin-top: 20px;}
.head_block div {border:0px solid red}


.search input#jshop_search {padding:4px; width:200px !important; font-size: 14pt;}


.search .button { background-image: url("../images/search_icon.png"); width: 19px; height: 22px; background-color: transparent; border:0px; font-size: 0pt;  position: absolute; margin-top: 8px; margin-left: 5px;}

.search .button:hover {opacity: 0.8}



.cons{ font-size: 14pt; color:gray; margin-top: 5px; text-decoration: underline}

.cart_icon { background-image: url("../images/cart.png"); width: 56px; height: 55px;}

.q {background-color: @green; padding:4px; display: block; border-radius: 20px; .bold; color:white; text-align: center; position: absolute; margin-left: -10px; margin-top: 30px; min-width: 30px; min-height: 30px;}

#jshop_summ_product { float: right; display: block; font-size: 14pt;}
.cart_block {float: right}


.cart_block td {padding:4px;}

.te { font-weight: bold; font-size: 16pt; float: right !important }

.nav { margin-top:10px; margin-bottom:0px;}
.stars_no_active {display:none}
.breadcrumb { margin-bottom:0px !important; font-size:8pt; margin-left:0px; padding-left:0px; background-color:transparent !important}




	@media (min-width: 1000px) {
.phone { font-size: 14pt; .bold; margin-bottom: 0px; margin-top: 10px;}
		#gruemenu li a { font-size: 8pt !important;     padding: 18px 20px 20px 20px !important; border:1px solid red}
		
		
		
		
}
	@media (min-width: 1200px) {
.phone { font-size: 18pt; .bold; margin-bottom: 0px; margin-top: 10px;}
	#gruemenu li a { font-size: 10pt !important;     padding: 18px 24px 21px 25px !important;}
			
}






.left_ug {width:23px; height:42px;background-image: url("../images/left_ug.gif"); }

.right_ug {width:23px; height:42px;background-image: url("../images/right_ug.gif"); }

.modopprod_item_image { min-height: 240px;   position: relative; height: 240px}

.modopprod_item_image img {  position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;}

.modopprod_item_name a { font-weight: normal !important; color:black !important;}

.page-header { margin: 0px !important; border:0px !important}
.page-header h2 {.h1;  font-weight: 200;text-align: left; margin-top: 10px; margin-top: 0px; border:0px}


